td.jobName {
    width: 20%;
}
.jobName {
    font-weight: bold;
}
.jobResult {
    height: 60px;
    width:  60px;

    &.SUCCESS {
        background-color: rgb(135, 183, 123);
    }

    &.ERROR {
        background-color: rgb(236, 57, 0);
    }

    &.FAILURE {
        background-color: rgb(243, 108, 74);
    }

    &.PENDING {
        background-color: rgb(247, 214, 62);
    }
}
td.filler {

    width: 20%;
}